<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="/components/footer/footer.css"
      type="text/css"
    />
    <title>Lab 3</title>
  </head>

  <body>
    <div class="mainFooter">
      <div class="iconsBox">
        <img src="../../assets/images/icon-facebook-white.svg">
        <img src="../../assets/images/icon-instagram-white.svg">
        <img src="../../assets/images/icon-linkedin-white.svg">
        <img src="../../assets/images/icon-youtube-white.svg">
      </div>
      <div>
        <p class="mainText">© Copyright Materialise 2023</p>
      </div>
    </div>
  </body>
</html>
