<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/components/header/header.css" type="text/css" />
    <title>Lab 3</title>
  </head>
  <body>
    <div class="mainHeader">
      <div class="labelBlock">
        <img class="label" src="../../assets/images/materialise-logo.svg" />
      </div>
      <div class="menu">
        <span class="menuElement"><a href="../../pages/aboutUs/aboutUs.html">About Company</a></span>
        <span class="menuElement">Products</span>
        <span class="menuElement">Contacts</span>
        <span class="menuElement">History</span>
      </div>
    </div>
  </body>
</html>
