@import "../settings.css";

.customers {
  height: 145px;
  width: 100%;
  margin-top: 58px;
  margin-bottom: 58px;
  background-color: var(--white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;

  a:hover {
    background-color: #5982e7;
  }
}
