@import "../settings.css";

.featuresBlock {
  background-image: url("../../img/features.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 885px;
  width: 100%;
  max-width: 100%;

  .mainText {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 171px;

    .maintText_p {
      color: #3d4f9f;
      font-size: 10px;
      font-style: normal;
      font-weight: bold;
      letter-spacing: 1px;
    }

    .maintText_h1 {
      color: #3d4f9f;
      text-align: center;
      font-size: 24px;
      font-style: normal;
      font-weight: bold;
    }
  }

  .featureInsideBlock {
    display: flex;
    flex-direction: column;
    align-items: center;

    .icons {
      display: flex;
      justify-content: space-between;
      .block {
        text-align: center;
        width: 140px;
        margin-right: 67px;

        .block_h1 {
          color: #4074f8;
          text-align: center;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          margin-top: 33px;
        }

        .block_p {
          color: #adb3cb;
          text-align: center;
          font-size: 11px;
          font-style: normal;
          font-weight: 600;
          font-style: normal;
          margin-top: 25px;
        }
      }
    }

    .block_buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 92px;
      margin-bottom: 171px;

      .or_block {
        color: #adb3cb;
        text-align: center;
        font-size: 11px;
        font-style: normal;
        font-weight: 600;
        margin-left: 47px;
        margin-right: 47px;
      }
    }
  }
}
