@import "../settings.css";

.heroImageBlock {
  background-image: url("../../img/heroImage.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  height: 580px;
  width: 100%;
  max-width: 100%;

  .mainText {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }
}
