@import "../settings.css";

.heroImageBlock {
  background: linear-gradient(180deg, #f4f7ff 0%, #f1f5ff 100%);
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;

  .mainText {
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50px;
    right: 700px;
  }
}
