@import "../settings.css";

.quotes {
  display: flex;
  background: linear-gradient(180deg, #eaf0ff 0%, #f6f9ff 100%);
  width: 100%;
  height: 479px;

  .quotes_block {
    display: flex;
    margin-top: 110px;
    margin-left: 276px;
    margin-right: 276px;
    margin-bottom: 109px;

    .quotes_block1 {
    }

    .quotes_block2 {
      margin-left: 132px;

      .commentBlock {
        display: flex;
        width: 423px;
        height: 175px;
        background-color: var(--white);

        .comment_text {
          margin-left: 69px;
          margin-top: 41px;
          margin-right: 71px;
          margin-bottom: 53px;
        }
      }
    }
  }
}
