@import "./variables.css";

@media (max-width: 1165px) {
  .headMenu {
    .blueCircleElement {
      margin-left: 10px;
      width: 26px;
      height: 26px;
      background-color: var(--soft-blue);
      border-radius: 50px;
    }

    .shareContainer {
      margin-left: 100px;
      margin-right: 10px;

      .socialMediaIcons {
        margin-right: 15px;
      }
    }
  }

  .customers {
    margin-left: 15px;
    margin-right: 15px;

    .customerElement {
      margin-right: 40px;
    }
  }

  .planAndManage {
    flex-direction: column;
    height: auto;
    align-items: center;

    .textCta {
      margin-top: 50px;
      margin-left: 0;
      margin-right: 0px;
      height: auto;
    }

    .illustrations {
      margin-top: 10px;
      margin-left: 200px;
    }
  }

  .heroImageBlock {
  }
}

@media (max-width: 903px) {
  .dropup {
    .dropbtn {
      display: flex;
    }
  }

  .headMenu {
    .mainMenu {
      display: none;
    }

    .blueCircleElement {
      display: none;
    }

    .shareContainer {
      .socialMediaIcons {
        margin-left: 180px;
        margin-right: 10px;
      }
    }
  }

  .planAndManage {
    .illustrations {
      margin-left: 100px;
    }
  }
}

@media (max-width: 765px) {
  .headMenu {
    .shareContainer {
      margin: 0;

      .socialMediaIcons {
        display: none;
      }
    }
  }

  .heroImageBlock {
    background-image: none;
    background-color: var(--light-blue3);
  }

  .customers {
    margin-top: 90px;
    margin-right: 0;
    margin-bottom: 120px;
    flex-direction: column;

    .customerElement {
      margin: 0;
      margin-top: 25px;
    }

    .audiElement {
      margin: 0;
      margin-top: 25px;
    }
  }

  .planAndManage {
    height: auto;
    width: 100%;
    text-align: center;

    .textCta {
      width: 100%;
    }

    .illustrations {
      width: 0px;
      display: none;
    }
  }

  .featuresBlock {
    background-image: none;
    background-color: var(--white);
    height: 100%;

    .mainText {
      text-align: center;
      display: flex;
      flex-direction: column;
      margin: 0;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .featureInsideBlock {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;

      .icons {
        align-items: center;
        flex-direction: column;

        .block{
          margin-top: 20px;
          margin-right: 0;
        }
      }

      .block_buttons {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 92px;
        margin-bottom: 40px;

        .or_block {
          margin-top: 27px;
          margin-bottom: 27px;
        }
      }
    }
  }

  .stats {
    display: flex;
    flex-direction: column;

    .stats_blockL {
      align-items: center;

      .info {
        text-align: center;
        margin: 0;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }

    .stats_blockR {
      align-items: center;

      .info {
        text-align: center;
        margin: 0;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }
}
