@import "./variables.css";

@media (max-width: 1165px) {
  .headMenu {
    .blueCircleElement {
      margin-left: 10px;
      width: 26px;
      height: 26px;
      background-color: var(--soft-blue);
      border-radius: 50px;
    }

    .shareContainer {
      margin-left: 100px;
      margin-right: 10px;

      .socialMediaIcons {
        margin-right: 15px;
      }
    }
  }

  .customers {
    width: 100%;
    margin: 0;

    .customerElement {
      margin-right: 40px;
    }
  }

  .planAndManage {
    flex-direction: column;
    height: auto;
    align-items: center;

    .textCta {
      margin-top: 50px;
      margin-left: 0;
      margin-right: 0px;
      height: auto;
    }

    .illustrations {
      margin-top: 10px;
      margin-left: 200px;
    }
  }

  .blog {
    width: 100%;
    .mainWindow {
      margin: 0;

      .window{
        width: 100%;
      }

      .vector1 {
        display: none;
      }

      .vector2 {
        display: none;
      }
    }
  }

  .quotes {
    width: 100%;
    height: 479px;

    .quotes_block {
      margin: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .quotes_block2 {
        margin: 0;
        .commentBlock {
          display: flex;
          width: 423px;
          height: 175px;
          margin: 0;
        }
      }
    }
  }

  .newsLetter {
    background-color: var(--white);
    height: 332px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .newsLetter_block1 {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      margin: 0;
    }

    .newsLetter_block2 {
      display: flex;
      align-content: center;
      justify-content: center;
      width: 100%;
      margin: 0;
      .inputBlock {
        width: 279px;
        height: 59px;
        margin: 0;
        border-radius: 5px;
        background: #efeff7;
        border: 1px #efeff7 solid;
        border-color: #efeff7;
      }

      .btnBlock {
        width: 184px;
        height: 59px;
        margin-left: 14px;
        border-radius: 5px;
        background: #4d6ce1;
      }
    }
  }

  .mainFooter{
    margin: 0;
    width: 100%;
    text-align: center;
}
}

@media (max-width: 903px) {
  .dropup {
    .dropbtn {
      display: flex;
    }
  }

  .headMenu {
    .mainMenu {
      display: none;
    }

    .blueCircleElement {
      display: none;
    }

    .shareContainer {
      .socialMediaIcons {
        margin-left: 180px;
        margin-right: 10px;
      }
    }
  }

  .planAndManage {
    .illustrations {
      margin-left: 100px;
    }
  }

  .blog {
    width: 100%;
    height: 932px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;

    .mainText {
      margin-top: 104px;
      margin-bottom: 92px;
      text-align: center;
      color: var(--blue-Text);
      .mainText_p {
        font-size: 10px;
      }

      .mainText_h1 {
        font-size: 24px;
        font-weight: bold;
      }
    }

    .mainWindow {
      width: auto;
      height: 495px;
      justify-content: center;

      .window {
        width: auto;
        height: 800px;
        flex-direction: column;
        align-items: center;
        margin: 0;

        .window_photo {
          .mainPhoto {
            width: 267px;
          }
        }
      }
    }

    .blueCircles {
      display: none;
    }
  }
}

@media (max-width: 765px) {
  .headMenu {
    .shareContainer {
      margin: 0;

      .socialMediaIcons {
        display: none;
      }
    }
  }

  .heroImageBlock {
    background-image: none;
    background-color: var(--light-blue3);
  }

  .customers {
    width: 100%;
    margin: 0;
    margin-top: 90px;
    margin-bottom: 120px;
    flex-direction: column;

    .customerElement {
      margin: 0;
      margin-top: 25px;
    }

    .audiElement {
      margin: 0;
      margin-top: 25px;
    }
  }

  .planAndManage {
    height: auto;
    width: 100%;
    text-align: center;

    .textCta {
      width: 100%;
    }

    .illustrations {
      width: 0px;
      display: none;
    }
  }

  .featuresBlock {
    background-image: none;
    background-color: var(--white);
    height: 100%;

    .mainText {
      text-align: center;
      display: flex;
      flex-direction: column;
      margin: 0;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .featureInsideBlock {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;

      .icons {
        align-items: center;
        flex-direction: column;

        .block {
          margin-top: 20px;
          margin-right: 0;
        }
      }

      .block_buttons {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 92px;
        margin-bottom: 40px;

        .or_block {
          margin-top: 27px;
          margin-bottom: 27px;
        }
      }
    }
  }

  .stats {
    display: flex;
    flex-direction: column;

    .stats_blockL {
      align-items: center;

      .info {
        text-align: center;
        margin: 0;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }

    .stats_blockR {
      align-items: center;

      .info {
        text-align: center;
        margin: 0;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }

  .blog {
    width: 100%;
    height: 924px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 220px;

    .mainText {
      margin-top: 204px;
      margin-bottom: 52px;
      color: var(--blue-Text);
    }

    .mainWindow {
      width: auto;
      height: 495px;
      justify-content: center;

      .window {
        width: 100%;
        height: 800px;
        flex-direction: column;
        align-items: center;
        margin: 0;

        .window_photo {
          display: flex;
          flex-direction: column;
          .mainPhoto {
            width: 100%;
          }

          .secondPhotots {
            display: none;
          }
        }
      }
    }

    .blueCircles {
      display: none;
    }
  }

  .quotes {
    .quotes_block {
      .quotes_block2 {
        margin-left: 20px;
        margin-right: 20px;
        height: auto;

        .commentBlock {
          display: flex;
          width: 100%;

          .comment_text {
            display: flex;

            .mainPhoto {
              margin: 0;
            }
          }
        }
      }
    }
  }

  .getStarted {
    background-image: none;
    background-color: #6888ff;
  }

  .newsLetter {
    .newsLetter_block1 {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      margin: 0;
    }

    .newsLetter_block2 {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      margin: 0;
      .inputBlock {
        width: 279px;
        height: 59px;
        margin: 0;
        margin-bottom: 10px;
        border-radius: 5px;
        background: #efeff7;
        border: 1px #efeff7 solid;
        border-color: #efeff7;
      }

      .btnBlock {
        width: 184px;
        height: 59px;
        margin-left: 14px;
        border-radius: 5px;
        background: #4d6ce1;
      }
    }
  }
}
