@import "../styles/main.css";

.dopInfo {
  background-color: var(--white);
  position:fixed;
  margin-top:108px;
  top: 1%;
  right: 0;
  width: 442px;
  max-height: 100%;
  overflow-y: auto;
  border-left: 5px solid black;

  .titleText {
    text-align: center;
    font-size: 36px;
    font-style: italic;
    margin: 0;
  }

  .mainDopText {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 22px;
  }

  .sentence {
    display: flex;
    font-size: 15px;

    .avatar {
      height: 90px;
      border-radius: 70px;
    }
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .searchButton {
    width: 333px;
    height: 82px;
    background-color: #FFB800;
    border-width: 0;
    font-size: 36px;
    font-weight: bold;
    border-radius: 49px;
    margin-top: 5px;
  }
}
